
<div class="page-header">
  <%= link_to new_presence_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nova presença
  <% end %>
  <h1>Lista de presença</h1>
</div>

<form action="/presences">
  <%= label_tag("Data:") %>
  <input id="date" type="date" name="data" value="<%= params[:data] %>"/>
  <%= submit_tag "Buscar", class: "btn btn-primary" %>
</form>

</br></br>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Nome</th>
            <th>Matrícula</th>
            <th>Turma</th>
            <th>Presença</th>
      </tr>
    </thead>

    <tbody> 
      <%= content_tag_for(:tr, @students) do |student| %>
            <td><%= student.name %></td>
            <td><%= student.registration %></td>
            <td><%= student.lesson.name %></td>
            <td><%= student.is_present(@presences)  %></td>
      <% end %>
    </tbody>
  </table>
</div>
