<div class="page-header">
  <%= link_to presences_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_presence_path(@presence), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>Mostrar presença</h1>
</div>

<dl class="dl-horizontal">
  <dt>Presente:</dt>
  <dd><%= @presence.is_present %></dd>

  <dt>Data:</dt>
  <dd><%= @presence.date %></dd>

  <dt>Aluno:</dt>
  <dd><%= @presence.student.name %></dd>

</dl>
