<div class="page-header">
  <%= link_to new_student_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Novo aluno
  <% end %>
  <h1>Alunos</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Nome</th>
            <th>Matrícula</th>
            <th>Cpf</th>
            <th>Date de nascimento</th>
            <th>Turma</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @students) do |student| %>
            <td><%= student.name %></td>
            <td><%= student.registration %></td>
            <td><%= student.cpf %></td>
            <td><%= student.date_of_birth %></td>
            <td><%= student.lesson.name %></td>
            <td><%= link_to 'Mostrar', student %></td>
        <td><%= link_to 'Editar', edit_student_path(student) %></td>
        <td><%= link_to 'Deletar', student, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
