<div class="page-header">
  <%= link_to students_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_student_path(@student), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>Mostrar aluno</h1>
</div>

<dl class="dl-horizontal">
  <dt>Nome:</dt>
  <dd><%= @student.name %></dd>

  <dt>Matrícula:</dt>
  <dd><%= @student.registration %></dd>

  <dt>Cpf:</dt>
  <dd><%= @student.cpf %></dd>

  <dt>Data de nascimento:</dt>
  <dd><%= @student.date_of_birth %></dd>

  <dt>Turma:</dt>
  <dd><%= @student.lesson.name %></dd>

</dl>
