<p id="notice"><%= notice %></p>

<h1>Turmas</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= lesson.name %></td>
        <td><%= link_to '&nbsp;&nbsp;&nbsp;&nbsp;Mostrar'.html_safe, lesson %></td>
        <td><%= link_to '&nbsp;&nbsp;&nbsp;&nbsp;Editar'.html_safe, edit_lesson_path(lesson) %></td>
        <td><%= link_to '&nbsp;&nbsp;&nbsp;&nbsp;Deletar'.html_safe, lesson, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Criar nova turma', new_lesson_path %>
